*{
    margin: 0px;    
}
a:hover{
    padding: 5px;
    background-color: white;
    transition-duration: 1s ease;
    border-radius: 5px;
}
header{    
    background-color:lightgray;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
#lista{
    
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#lista li{    
    padding: 20px 0px;
    
}

#lista a{
    text-decoration: none;
    color:black;
}

#logo{
  height:15px;
  width: 100px;
}
#fundoimg{
    background-color: white;
}
