.centralizado{
    text-align: center;
}

.titulos{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.linha{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 5px;
}
#paragrafo{
    background-color: blanchedalmond;
}

.imagemcard{
    height: 250px;
    width: 250px;
   border-radius: 15px;
   

}
#portcard{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   margin-right: 15px;


}
.CARDS{
    width: 280px;
    background-color: rgba(33, 197, 170, 0.884);
    text-align: center;
}
.CARDS h2{
    
    color: blue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px;
}

.CARDS button{
    padding: 10px 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 15px;
    border-radius: 15px;
}
